@import '../../../styles.scss';

.navbar{
    height: 98%;
    width: 100%;
    border-radius: 0%;
    font-size: 16px;
    background-color: rgb(255, 250, 242);


    .alignment{

       padding-left: 0.500em;
       padding-right: 1em;

        .Ptitle{

            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 2em;
            letter-spacing: 1px;
            color: #272836; 
            margin: 0% !important;
            cursor: pointer;
        }
    }

    .logoutCss{

        cursor: pointer;
        font-size: 1.6em;
        font-weight: bold;
    }

}



